/TirionFordringApp/nbproject/private/
/TirionFordringApp/build/
/TirionFordringApp/assets/
/TirionFordringApp/logging/
/TirionFordringApp/src/.idea/
/TirionFordringApp/dist/
/TirionFordringApp/out/
*.txt
